.card{
	justify-content: space-between;
	padding: 25px;
	text-align: center;
	align-items: center;
	margin: 0 auto;

}

.card-image {
	width: 250px;
	height: 200px;
	background-size: cover;
	background-position: center;
}

.card img{
	width: 250px;
	border-radius: 5px;
	box-shadow: 5px 2px 8px rgba(0,0,0, 0.4);
	filter: blur(0);

}

.cards{
	display: flex;
	justify-content: space-around;
	color: white;
	font-size: 25px;
	
}